@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f9f9f9;
    color: #333;
}

.hero {
    position: relative;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

.hero-content {
    z-index: 2;
}

.hero-content h1 {
    font-weight: bold;
}

.hero-img-cachorro {
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 500px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: rgba(101, 117, 255, 0.575);
    color: #000000;
    border-radius: 30px;
    text-decoration: none;
}

.btn:hover {
    background-color: #0011ff4f;
    color: white;
}

.indicadores {
    display: flex;
    gap: 20px;

}

.indicadores p {
    background-color: #1f2bce6b;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

.sobre {
    display: flex;
    padding: 50px;
    width: 100vw;
    background-color: rgba(187, 187, 187, 0.644);
    text-align: center;
}

.container {
    width: 500px;
}

.container h2 {
    text-align: center;
}

.servicos {
    padding: 60px;
    text-align: center;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

.img-box {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.contato {
    padding: 60px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
}

input,
textarea {
    padding: 10px;
}

button {
    padding: 12px;
    background: #ff5e62;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 5px black;
    cursor: pointer;
}

button:hover {
    color: #ff5e62;
    background: rgb(255, 130, 130);
}

#rodape {
    background-color: black;
    color: white;
    text-align: center;
}